<div class="heading">
      <h2><%= @activity.title %></h2>
      <p><%= @activity.description %></p>
      <% if @activity.image.attached? %><%= image_tag @activity.image, width: "200px" %><% end %>
</div>