<div class = "container">
  <div class ="article image-right">
    <%= image_tag 'image-2.jpg', class: "article image-right"  %>
    <h3>Wanko Soba</h3>
    <p>
    Eating Wanko Soba is an experience in itself. Each serving contains
    roughly a mouthful of soba noodles, and the server will constantly keep
    topping up your empty bowl with more noodles until you indicate that you
    have had enough.
    </p>
  </div>
  <hr>
</div>