
<div class = "container">
  <div class ="activities">
      <% @location_activities.each do |location_activity|%>
          <h3><%= location_activity.title%></h3>
          <div class = "image-left">
            <P><% if location_activity.image.attached? %><%= image_tag location_activity.image, width: "200px"%><% end %></p>
          </div>
          <p><%= location_activity.description%></p>
          <hr>
      <% end %>
  </div>
</div>