<%# <h1>Pages#show</h1>
<p>Find me in app/views/pages/show.html.erb</p> %>
    <%# <div class="container">
      <p>
        Morioka (盛岡) is the capital city of <a href="#">Iwate Prefecture</a>, 2.5 hours by
        shinkansen north of <a href="#">Tokyo</a>. Surrounded by mountains on three sides and
        blessed with multiple rivers, Morioka is an attractive city and a
        convenient transportation hub, but lacks a major sightseeing spot.
        The city is well known for its various styles of noodles, though,
        and does offer a handful of minor sites of interest.
      </p> %>

      <div class="actions">
        <a href="#" class="button button-red">Take me there!</a>
      </div>
    </div>