<div class="container">
  <h2>create Activities</h2>
  <%= render 'form', location: @activity %>
  <br>
  <%= link_to 'Landing Page', root_path%><br>
  <%= link_to 'Back to Activities index', activities_path %><br>
  <%= link_to 'Back to Locations index', locations_path %>
</div>